* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(steelblue,white);
    background-repeat: no-repeat;
}

.container {
    background-color: hsla(0, 0%, 0%, 0.42);
    color: white;
    margin: auto;
    font-size: larger;
    margin-top: 8rem;
    width: fit-content;
    height: fit-content;
    padding: 5rem;
    border: 5px double silver;
}

.time {
    display: grid;
    grid-template-columns: (4,1fr);
    grid-auto-rows: 50px;
    align-items: center;
    gap: 30px;
    grid-template-areas: "hr mn sc ap";
}

.date {
    display: grid;
    grid-template-columns: (4,1fr);
    grid-auto-rows: 50px;
    align-items: center;
    margin-top: 5rem;
    gap: 30px;
    grid-template-areas: "dt mnt yr";
}

.day {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-auto-rows: 50px;
    margin-top: 5rem;
    grid-template-areas: "d";
}

#hours {
    display: grid;
    grid-area: hr;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#mins {
    display: grid;
    grid-area: mn;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#secs {
    display: grid;
    grid-area: sc;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#ampm {
    display: grid;
    place-content: center;
    grid-area: ap;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 5vh;
    padding: 10px;
    width: 10vw;
    text-shadow: 1px 1px 1px black;
}

#date {
    display: grid;
    grid-area: dt;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#month {
    display: grid;
    grid-area: mnt;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#year {
    display: grid;
    grid-area: yr;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 10vh;
    padding: 10px;
    width: 20vw;
    text-shadow: 1px 1px 1px black;
}

#day {
    display: grid;
    grid-area: d;
    place-content: center;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.416);
    height: 8vh;
    padding: 10px;
    width: 90%;
    text-shadow: 1px 1px 1px black;
}


